.title {
  text-align: center;
  padding-bottom: 10px;
}

.container {
  display: flex;
  justify-content: space-between;
}

.products {
  width: 50%;
  background-color: aliceblue;
}

.productInfo {
  width: 50%;
}

.table {
  background-color: bisque;
}

.btn {
  width: 70px;
  margin-top: 10px;
}

.btnClose {
  display: flex;
  justify-content: flex-end;
}
